<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</head>
<body>
<div class="container">
    <hr>
        <h2>Расписание работника компании</h2>
    <br>
    <hr>
    <br>
    <form method="get"  action="schedule">
        <div class="row  align-items-end">
            <div class="form-group col">
                <label>ID user</label>

                <input type="text" name="userId" class="form-control" placeholder="Name" value="" id="userId">
            </div>
            <div class="form-group col">
                <label>Дата, от</label>
                <input type="date" name="startDate" class="form-control" value="" id="startDate">
            </div>
            <div class="form-group col">
                <label>Дата, до</label>
                <input type="date" name="endDate" class="form-control" value="" id="endDate">
            </div>
            <div class="form-group col">
                <button class="btn btn-success btn-submit">Расчитать</button>
            </div>
        </div>
    </form>

    <br>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-6">
            <h5 class="font-weight-bolder">Информация о работнике:</h5>
            <table class="table mt-5">
                <thead>
                </thead>
                <tbody>
                {% if user is defined %}
                    <tr>
                        <td scope="row">IdUser</td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td scope="row">График работы:</td>
                        <td>c {{ user.morningworkhoursfrom|date('H:i:s') }} до {{ user.morningworkhoursbefore|date('H:i:s') }} <br>
                            c {{ user.afternoonworkhoursfrom|date('H:i:s') }} до {{ user.afternoonworkhoursbefore|date('H:i:s') }}
                        </td>
                    </tr>
                <td scope="row">Отпуск:</td>
                {% if holidays  is defined %}
                        {% for holiday in holidays %}
                            <tr>
                                <td>
                                    от {{ holiday.holidaysfrom|date('Y.m.d') }} до {{ holiday.holidaysbefore|date('Y.m.d') }} <br>
                                    <br>

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <td>
                        У данного сотрудника отпуск не указан
                    </td>
                    {% endif %}
                </tbody>
                {% endif %}
            </table>
            <br>
            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">Праздник компании</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Окончание</th>
                </tr>
                </thead>
                <tbody>
                {% if parties is defined %}
                    {% for party in parties %}
                        <tr>
                            <td>{{ party.name }}</td>
                            <td>{{ party.partydayfrom|date('Y.m.d') }} - {{ party.partytimefrom|date('H:i:s') }}</td>
                            <td>{{ party.partydaybefore|date('Y.m.d') }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <br>
            <table class="table mt-5">
                <thead>
                <tr>
                    <th scope="col">Праздники России за 2019</th>
                    <th scope="col">Дата</th>
                </tr>
                {% for item in calendar %}
                    {% if item.date|date('Y') == year %}
                        <tr>
                            <td> {{ item.date|date('Y.m.d') }} </td>
                            <td> {{ item.name_holiday }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </thead>
            </table>
        </div>
        <div class="col-6">
            <h5 class="font-weight-bolder">JSON</h5>
            <p>Выходные дни не учитываются</p>
            {% ss %}
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>